@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(13, 149, 173);
    background-size: cover;
    background-position: center;
}

.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
    position: relative;
    width: 400px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    padding: 20px;
    color: #fff;
    transition: height 0.6s ease;
}

.search__box {
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.search__box i {
    position: absolute;
    left: 10px;
    font-size: 28px;
}

.search__box input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 42px;
}

.search__box input::placeholder {
    color: #fff;
    text-transform: capitalize;
}

.search__box button {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: #fff;
    padding: 0 40px 0 5px;
    cursor: pointer;
}

.weather__box {
    text-align: center;
    margin: 0;
}

.weather__box,
.weather__detailes,
.not__found,
.weather__more.active {
    overflow: hidden;
    visibility: hidden;
	 
}

.weather__box.active,
.weather__detailes.active,
.not__found.active,
.weather__more.active {
    visibility: visible;
}

.weather__box .box,
.not__found .box {
    transform: translateY(-100%);
    transition: transform 1s ease;
}

.weather__box.active .box,
.not__found.active .box {
    transform: translateY(0%);
    transition-delay: 0.6s;
}

.weather__box .box .info__weather {
    transform: translateY(-120%);
}

.container.active .weather__box .box .info__weather,
.container.active .weather__detailes .humidity .info__humidity,
.container.active .weather__detailes .wind .info__wind {
    transform: translateY(0%);
    transition: transform 1s ease;
}

.weather__box img {
    width: 50%;
}

.weather__box .temperature {
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 0px 0 6px -30px;
}

.weather__box .temperature span {
    position: absolute;
    font-size: 24px;
}

.weather__box .description,
.weather__box .today {
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather__detailes {

		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		padding-right: 40px;
		bottom: 50px;

}

.weather__detailes .humidity,
.weather__detailes .wind {
    display: flex;
    align-items: center;
    width: 50%;
}

.weather__detailes.active .humidity,
.weather__detailes.active .wind {
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;
}

.weather__detailes .humidity .info__humidity,
.weather__detailes .wind .info__wind {
    transform: translateY(-100%);
    overflow: hidden;
}

.weather__detailes .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather__detailes .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather__detailes i {
    font-size: 56px;
    margin-right: 10px;
}

.weather__detailes span {
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}

.weather__detailes p {
    font-size: 14px;
    font-weight: 500;
}
.city{
	font-size: 30px;
	margin-top: 10px;
}
.country{
	font-size: 30px;
}
.not__found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
}

.not__found img {
    width: 65%;
}

.not__found p {
    font-size: 22px;
    font-weight: 500;
}


.weather__more{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	left: 180px;
	bottom: 5px;
	cursor: pointer;
	visibility: hidden;

}
.weather__more:hover{
	transform:translateY(5px);
}


.container__detailes {
	position: relative;
	margin-top: -20px;
	width: 600px;
	height: 300px;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(30px);
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	padding: 20px;
	color: #fff;
	transition: transform 0.6s ease;
	visibility: hidden;
}
.container__detailes.active{
	visibility: visible;
	transition: transform 0.6s ease;
	transform: translateY(50px);
}


.close__detailes {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 24px;
	height: 24px;
	opacity: 0.2;
	cursor: pointer;
  transition: opacity ease 0.5s;
}
.close__detailes:hover {
		opacity: 1;
	
}

.close__detailes::before,
.close__detailes::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}

.close__detailes::before {
	transform: rotate(45deg);
}

.close__detailes::after {
	transform: rotate(-45deg);
}




.container__detailes {
	
}
.close__detailes {
}
.detailes__container {
	display: flex;

}
.detailes__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 25px;
}
.item-detailes {

	flex: 1 0 20%;

}
.item-detailes__day {
}
.item-detailes__img {
	width: 40%;
}
.item-detailes__temp {
}
.item-detailes__wind,
.item-detailes__precipitation,
.item-detailes__humidity  {
	display: flex;
	justify-content: center;
	align-items: center;
}
.bx {
}
.bx-wind {
}
.item-detailes__wind-info,
.item-detailes__precipitation-info  {
	margin-left: 5px;
}
.item-detailes__precipitation {
}
.bxs-map{
	z-index: 2;
	cursor: pointer;
}




/* Медіа-запити для мобільних пристроїв */
@media (max-width: 768px) {
	
	.container {
		 width: 90%;
		 padding: 15px;
		 height: 480px;
	}
	.detailes__container{
		flex-direction: column;
	}
	.search__box input {
		 font-size: 16px;
		 padding: 0 36px 0 38px;
	}

	.search__box button {
		 padding: 0 10px 0 5px;
	}

	.weather__box .temperature {
		 font-size: 42px;
		 margin: 0px 0 6px -20px;
	}

	.weather__box img {
		 width: 40%;
	}

	.weather__detailes i {
		 font-size: 36px;
	}

	.weather__detailes span {
		 font-size: 16px;
	}

	.weather__more {
		 left: 50%;
		 bottom: 5px;
		 transform: translateX(-50%);
	}

	.container__detailes {
		 width: 90%;
		 padding: 15px;
		 height: 100%;
	}

	.item-detailes {
		 flex: 1 0 100%;
		 margin: 10px 0;
	}

	.item-detailes__img {
		 width: 30%;
	}
	.weather{
	  padding-top: 50px;
	}
	.weather__detailes .humidity{
	  padding-left: 0;
	}
	.weather__detailes .wind{
	  padding-right: 0;
	}
	.item-detailes:not(:last-child){
	  border-bottom: 2px solid rgb(163, 158, 158);
	  padding-bottom: 20px;
	}

}
